include ./waiting-screen

.graphics
  .container
    .row
      .col-12
        .graphics__buttons
          button(class="button button--sm graphics__button graphics__button--download") Download all figs
          button(class="button button--sm graphics__button graphics__button--upload") Upload new fig

        //- Pages
        .graphics__wrap
          -var cnt = 0
          while cnt < 100
            .graphics__graphic.animated(data-scroll-animation="fadeIn")
              include ./graphic
            -cnt++
