.navigation
  .navigation__logo colourfig.
  .navigation__menu
    a(href="#").navigation__menu-item Home
    a(href="#").navigation__menu-item Contact
    .navigation__menu-item
      .navigation__lang
        .navigation__lang-flag
          figure(style="background-image:url('images/british-flag.png')")
        span.navigation__lang-title English
