.navigation
  .navigation__logo colourfig.
  .navigation__menu
    a(href="#").navigation__menu-item Home
    a(href="#").navigation__menu-item Contact
    a(href="#").navigation__menu-item Advertise
