extends layouts/main

block variables
  - var title = 'Colourfig'

block content
  include ./sections/preloader
  include ./sections/header
  include ./sections/badges
  include ./sections/graphics
  include ./sections/footer
